 <div class="header_section">
    <div class="container d-flex justify-content-between align-items-center p-3">
      <div class="header_logo_image">
        <img src="../../../assets/image/yourLogo.png" alt="">
      </div>
     
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-2">
          <i class="fa fa-bell-o"  aria-hidden="true"></i>
          <span class="count">245</span>
        </button>
        <button class="btn btn-outline-secondary me-2">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </button>
        <button class="btn btn-outline-secondary">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
 </div>
 
  