.category-list {
    padding: 16px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  
    .category-heading {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 12px;
    }
  
    .category-items {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      .category-item {
        padding: 14px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 1px 3px 3px 0px rgba(211, 211, 211, 0.8);
        &:hover {
          background-color: #eaeaea;
        }
        .fa-angle-down{
            font-size: 23px; 
        }
        .fa-check{
            font-size: 15px;
            padding: 5px;
            border: 1px solid grey;
            border-radius: 20px;
        }
        .active{
            background-color: red;
            color: white;
            border: 1px solid white;
        }
      }
    }
  }
  