
  <div class="footer">
      <div class="container">
        <div class="d-flex justify-content-between footer_section">
            <div class="logo">
                <img src="../../../assets/image/yourLogo.png" alt="Company Logo" />
                <p>&copy; 2024</p>
              </div>

              <div class="version-copyright">
                <h5>Version</h5>
                <div>
                    <ul>
                        <li>2.2.0</li>
                    </ul>
                </div>
               

               
              </div>
          
              <!-- About Section -->
              <div class="about">
                <h5>About Us</h5>
                <div>
                    <ul>
                        <li>Contact Us</li>
                        <li>Privacy</li>
                        <li>Term of use</li>
                    </ul>
                </div>
              </div>
          
              
             
        </div>
      </div>

  </div>
  