.footer{
    background-color:  #e6f2ff;
    border-top: 1px solid #d5cdcd;
    padding: 20px;
   

    .logo{
        img{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    ul{
       list-style-type: none;
       padding: 0;
       line-height: 2;
        li:hover{
            background-color: rgb(229, 224, 224);
            border-radius: 8px;
        }
    }
}



@media (max-width: 769px) {
    .footer_section{
       flex-direction: column !important;
       justify-content: center !important;
       align-items: center !important;
    }
  }